body {
    font-family: "Rubik", sans-serif;
    background-color: #0b0c1b;
}

@media only screen and (min-width: 1600px) {
    .container-xxl {
      min-width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-left: 2%;
      padding-right: 2%;
    }
}